
/tmp/
.*
*.aps
*.lnk
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.so
*.o
*.log

project.xcworkspace/
xcuserdata/

lib/cocos2d-x/core/platform/android/java/bin
lib/cocos2d-x/core/platform/android/java/gen

*/proj.win32/Debug/
*/proj.win32/Release/
*/*/proj.win32/Debug/
*/*/proj.win32/Release/
*/*/proj.android/bin/
*/*/proj.android/gen/
*/*/proj.android/lint.xml
*/*/proj.android/obj/
*/*/proj.android/assets/
*/*/proj.android/libs/
*/*/proj.mac/bin/
*/*/proj.win32/bin/

player/build-*-Debug/
player/proj.qt/*.pro.user
player/proj.qt/*.pro.user.*
lib/debug/*
/template/proj.android/assets
/template/proj.android/bin
/template/proj.android/obj
/template/proj.android/gen
template/proj.mac/bin
build
template/proj.android/app/assets
local.properties
